.rodape {
    background: var(--azul-degrade);
}

.rodape__titulo {
    color: var(--branco);
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    padding: 2em;
}

.lista-rodapé {
    display: none;
}

@media screen and (min-width: 1024px){
    
    .rodape {
        display: flex;
        justify-content: space-evenly;
    }
    .rodape__titulo {
        width: 15%;
        padding: 2em;
    }

    .lista-rodapé {
        margin: 1em;
        display: block;
    }

    .lista-rodapé__titulo {
        color: var(--branco);
        font-size: 18px;
        font-weight: 500;
        padding-top: 1em;
    }

    .lista-rodapé__item {
        display: flex;
        align-items: center;
        margin-top: 1em;
    }
    
    .lista-rodapé__link {
        text-decoration: none;
        color: var(--branco);
        margin-left: 0.5em;
    }

    .lista-rodapé__link:hover {
        color: var(--laranja);
    }
}

@media screen and (min-width: 1728px) {
    
    .rodape {
        padding: 3em 0;
    }
  
    .lista-rodapé {
        border-left: 2px solid var(--branco);
        padding-left: 1em;
    }
}